@charset "utf-8";

*
{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{
    background: #afdedc;
    color: #FFFFFF;
}

    header
    {
        height: 80px;
        display: flex;
        justify-content: space-around;
        background: #776871;
    }
        div.headerContent
        {
            width: 970px;
            height: auto;
            margin: 0 auto;
        }

        div.logo
        {
            width: 150px;
            height: 80px;
            background-image: url("../images/Addressont.png");
            background-repeat: no-repeat;
            background-size: 150px;
        }
    
        nav
        {
            width: auto;
        }

            div.icon
            {
                width: 50px;
                height: 80px;
                float: right;
                background-image: url("../images/menu.png");
                background-repeat: no-repeat;
                background-size: 50px;
                background-position: 0px 15px;
                position: relative;
            }
                
                div.hide
                {
                    width: 50px;
                    height: 80px;
                    z-index: -100;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
                
                @keyframes show
                {
                    from {height: 0px;}
                    to {height: 200px;}
                }

                @keyframes hide
                {
                    from {height: 200px;}
                    to {height: 0px;}
                }

                div.icon a
                {
                    display: block;
                    width: 50px;
                    height: 80px;
                    z-index: 50;
                }

                div.icon div.menuItems
                {
                    visibility: hidden;
                    position: absolute;
                    top: 80px;
                    right: 5px;
                }

                    div.icon:focus-within div.menuItems
                    {
                        visibility: visible;
                        position: absolute;
                        width: 960px;
                        animation-name: show;
                        animation-duration: 1s;
                        height: 200px;
                        background: #776871;
                        top: 80px;
                        right: 5px;
                        border-bottom: 5px solid #91a8a4;
                    }

                    div.icon:focus-within div.hide
                    {
                        z-index: 100;
                    }

    div.mainContent
    {
        width: 960px;
        min-height: 900px;
        margin: 0 auto;
        background: #f0f7ee;
        border-left: 5px solid #91a8a4;
        border-right: 5px solid #91a8a4;
        border-bottom: 5px solid #91a8a4;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 50px;
    }

        section.card
        {
            width: 90%;
            height: 150px;
            margin: 0 auto;
            margin-bottom: 50px;
            color: #404040;
        }

            section.card div.profilePic
            {
                float: left;
                width: 150px;
                height: 150px;
                background-image: url("../images/profile.jpg");
                background-repeat: no-repeat;
                background-size: 150px;
                background-position: center;
                border-radius: 50%;
                overflow: hidden;
            }
            
            section.card div.profileText
            {
                float: left;
                width: 570px;
                padding-left: 30px;
            }
            
                section.card div.profileText p
                {
                    line-height: 25px;
                }

            section.card div.profileLinks
            {
                width: 50px;
                height: 150px;
                float: left;
                line-height: 100px;
            }